.wrapper {
    padding: 60px 0px 0px 80px;
    display: flex;
    flex-direction: row;
  }
  
  .divLeft {
    padding-top: 80px;
    padding-right: 50px;
    width: 40%;
  }
  
  .divRight {
    width: 60%;
  }
  
  .div1 {
    width: 30%;
  }
  
  .div2 {
    width: 30%;
  }
  
  .div3 {
    width: 30%;
  }
  
  .fontText {
    margin-top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #a3a3a3;
  }
  
  .fontTitle {
    margin-top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .fontDesc {
    margin-top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #a3a3a3;
  }
  
  .fontCopyright {
    margin-top: 160px;
    margin-left: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #a3a3a3;
  }
  
  .imgEllipse1 {
    margin-top: 79px;
    margin-left: 657px;
  }